<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 디스플레이 광고 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5734802975980644"
     data-ad-slot="5653074673"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 

<amp-ad width="100vw" height="320"
type="adsense"
data-ad-client="ca-pub-5734802975980644"
data-ad-slot="5653074673"
data-auto-format="rspv"
data-full-width="">
<div overflow=""></div>
</amp-ad> -->

<!-- 광고 넣고 싶은 포스팅 부분에 {% include adsense.html %} 입력 -->